.widget-title {
  text-align: center;
  font-size: 1.5rem;
  border-bottom: solid 4px $secondary-color;
  color: $black;
}

.widget {
  ul {
    @extend .no-bullet;
  }

  a {
    color: black;
  }
}
