article {
  margin-bottom: 2rem;
}

.sharing {
  .publish-time {

  }
}

.site-main {
  padding-top: 1rem;
}

.thumbnail-container {
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
  }
}

.post-thumbnail {
  display: block;
}

.entry-content {
  a {
    color: $black;
  }
}

@include breakpoint(medium up) {
  .thumbnail-container {
    max-width: 19rem;
  }
}
