.off-top-categories {
  top: 5rem !important;
  @include transition(all 1s ease);
}

.on-top-categories {
  top: 8.6rem !important;
  @include transition(all 1s ease);
}

.show-categories {
  right: 0 !important;
  @include transition(all 400ms ease);
}

.categories-container {
  background-color: $gren;
  color: $white;
  font-weight: bold;
  position: fixed;
  right: -16.66667%;
  top: 8.6rem;
  padding: 2rem 2.5rem !important;
  height: 100%;
  @include transition(all 400ms ease);
}
