.site-inner .off-top {
  height: 80px;
  @include transition(height 1s ease);

  .search-container {
    padding-top: .8rem;
      @include transition(padding-top 1s ease);
  }

  .site-header-main .categories {
    @include transition(margin-top 1s ease);
    margin-top: 2px;
  }
}

.site-inner .on-top {
  height: 138px;
  @include transition(height 1s ease);


  .search-container {
      @include transition(padding-top 1s ease);
  }

  .site-header-main .categories {
    @include transition(margin-top 1s ease);
  }
}


.site-header {
  background-color: $secondary-color;
  position: fixed;
  padding: 0.4rem;
  z-index: 1;
  top: 0;

  .site-branding {
    .logo-tall {
      overflow: hidden;
      margin-top: 10px;
      display: block;
      height: 0;
      @include transition(height 1s ease);
    }

    .logo-linear {
      overflow: hidden;
      display: block;
      @include transition(height 1s ease);
    }
  }

  .site-header-main {
    .categories {
      display: block;
      font-size: 3rem;
      margin-top: 1.8rem;
      margin-right: 2rem;

      i {
        color: $white;
      }
    }
  }

  .search-container {
    padding-top: 2.5rem;

    .search-div {
      margin: 0 auto;
      width: 20rem;
    }
  }

  @media #{$small-only} {
    padding: 0;
    position: static;
    height: 116px !important;

    .site-branding {
      .logo-tall {
        display: block;
        height: auto;
      }

      .logo-linear {
        display: none;
      }
    }

    .search-container {
      padding-top: .8rem;
      height: 3rem;
      padding: 4px;
    }

    .site-header-main .categories {
      font-size: 1.2rem;
      margin: 0;
    }

    .search-container .search-div {
      height: 2.7rem;
    }

    .categories .mobile {
      color: $white;
      font-weight: bold;
    }
  }
}
