.search-form {
  .search-field {
    display: block !important;
    margin-left: 3rem !important;
    width: 55%;
    margin-left: 5rem;
    height: 2.5rem;
    margin: 0;
    float: left;
    border: 0;
    background-color: $white;
    padding-left: 1.4rem;
    box-shadow: none;
    font-weight: bold;
    color: $dark-gray;
    @include border-radius-left(50px);
    @include transition(width 1s ease, margin-left 1s ease);
  }

  .search-field:hover {
    margin-left: 0 !important;
    width: 82%;
    @include transition(width 1s ease, margin-left 1s ease);
  }

  .search-submit {
    float: left;
    height: 2.5rem;
    padding: 6px 1rem;
    color: $dark-gray;
    font-size: 1.5rem;
    background-color: $white;
    @include border-radius-right(50px);
  }

  @include breakpoint(small only) {
    .search-field {
      width: 82%;
      margin-left: 0rem !important;
    }
  }
}
