.search-form {
  .search-field {
    width: 82%;
    height: 2.5rem;
    margin: 0;
    float: left;
    border: 0;
    background-color: $white;
    padding-left: 1.4rem;
    box-shadow: none;
    font-weight: bold;
    color: $dark-gray;
    @include border-radius-left(50px);
  }

  .search-submit {
    float: left;
    height: 2.5rem;
    padding: 6px 1rem;
    color: $dark-gray;
    font-size: 1.5rem;
    background-color: $white;
    @include border-radius-right(50px);
  }

  @media #{$small-only} {
    .search-field {
      width: 80%;
    }
  }
}
